.DS_Store
.env
node_modules

publish/*
!publish/downloads
!publish/images
!publish/favicon.*
!publish/robots.txt

yarn-error.log

code/html/projects/*.html
code/html/blog.html
code/html/blog/*.html
code/html/learning/reading.html
