<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>@@title</title>
    <meta
      name="description"
      content="investing in early-stage technology companies"
    />
    <meta property="og:site_name" content="Preson-Werner Ventures" />
    <meta property="og:title" content="@@title" />
    <meta
      property="og:description"
      content="investing in early-stage technology companies"
    />
    <meta property="og:image" content="/images/logo-padded.png" />
    <meta property="og:url" content="https://prestonwernerventures.com" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/application.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="https://platform.twitter.com/widgets.js"
    ></script>
    <script type="text/javascript" src="/javascripts/application.js"></script>
    <script
      defer
      data-domain="prestonwernerventures.com"
      src="https://plausible.io/js/script.js"
    ></script>
  </head>

  <body
    class="bg-blue-100 text-blue-900 font-sans antialiased h-full flex flex-col"
    data-controller="application"
  >
  
    <div class="flex-grow flex-shrink-0 flex-auto">
      <header class="bg-white py-6 text-center">
        <div
          class="max-w-4xl mx-auto lg:flex lg:justify-center lg:items-center"
          data-controller="nav"
          data-nav-active="bg-blue-800 text-white px-1 mx-1"
          data-nav-remove="text-red-900"
        >
          <div class="w-48 lg:w-32 mx-auto lg:mx-0">
            <a href="/">
              <img
                class=""
                src="/images/logo.png"
                alt="Preson-Werner Ventures Logo"
              />
              <h1 class="hidden">Preston-Werner Ventures Rolling Fund</h1>
            </a>
          </div>
        </div>
      </header>

      @@content("banner")

      <main class="mt-12 lg:mt-16 max-w-4xl mx-6 lg:mx-auto my-2">
        <h2 class="bold text-2xl text-slate-500">Current</h2>
        <h3 class="mb-3 text-2xl">Preston-Werner Ventures Rolling Fund</h3>
        <p class="mb-2">
          Led by Tom Preston-Werner (GitHub cofounder), this fund invests in
          early-stage technology companies. Our three-partner team, consisting
          of active founder-operators, also provides hands-on assistance,
          peer-to-peer support, and VC networking to increase the likelihood of
          companies&apos; success. We actively participate in follow-on rounds,
          building on Tom&apos;s successful track record as an angel investor
          the past decade.
        </p>
        <p class="mb-4">
          We created the fund in early 2023 using the AngelList Rolling Fund
          vehicle. We fundraise publicly and continuously. As of October 1st,
          2023, we have completed 46 investments.
        </p>
        <p class="mb-2 ml-10 mt-2">
          <a
            href="https://venture.angellist.com/v/back/preston-werner-ventures-rolling-fund"
            class="text-blue-600 underline"
          >
            Learn more about the fund activity, partners, and thesis.
          </a>
        </p>
        <p>
          <span class="mb-2 ml-10 mt-2 font-bold">
            Interested in becoming a fund LP?{' '}
          </span>
          <a
            href="https://venture.angellist.com/v/back/preston-werner-ventures-rolling-fund"
            class="text-blue-600 underline"
          >
            Accredited investors are invited to apply.
          </a>
        </p>
        <h2 class="bold mt-10 text-2xl text-slate-500">Past</h2>
        <h3 class="mb-3 text-2xl">Angel Investments</h3>
        @@content
      </main>
    </div>

    <footer class="bg-white mt-12 py-8 px-4 lg:px-0 text-sm">
      <div class="lg:flex max-w-4xl mx-auto justify-between items-center">
        <div class="text-center lg:text-left">
          <div class="text-blue-700">
            &copy;<span data-target="application.year"></span> Preston-Werner
            Ventures
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
