<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>@@title</title>
    <meta name="description" content="Working on social justice, climate change, and technology." />
    <meta property="og:site_name" content="Preson-Werner Ventures" />
    <meta property="og:title" content="@@title" />
    <meta
      property="og:description"
      content="Working on social justice, climate change, and technology."
    />
    <meta property="og:image" content="/images/logo-padded.png" />
    <meta property="og:url" content="https://prestonwernerventures.com" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/application.css" />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+Pro:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
    <script type="text/javascript" src="/javascripts/application.js"></script>
    <script type="text/javascript">
      !function() {
        "use strict";
        var o = window.location
          , a = window.document
          , t = window.localStorage
          , r = a.currentScript
          , l = "https://dpxl0uf0kxlpt.cloudfront.net/api/event" // CDN proxy, rob@pwv account
          , w = t && t.plausible_ignore;
        function s(t) {
          console.warn("Ignoring Event: " + t)
        }
        function n(t, n) {
          if (/^localhost$|^127(\.[0-9]+){0,2}\.[0-9]+$|^\[::1?\]$/.test(o.hostname) || "file:" === o.protocol)
            return s("localhost");
          if (!(window._phantom || window.__nightmare || window.navigator.webdriver || window.Cypress)) {
            if ("true" == w)
              return s("localStorage flag");
            var e = {};
            e.n = t,
            e.u = o.href,
            e.d = r.getAttribute("data-domain"),
            e.r = a.referrer || null,
            e.w = window.innerWidth,
            n && n.meta && (e.m = JSON.stringify(n.meta)),
            n && n.props && (e.p = JSON.stringify(n.props));
            var i = new XMLHttpRequest;
            i.open("POST", l, !0),
            i.setRequestHeader("Content-Type", "text/plain"),
            i.send(JSON.stringify(e)),
            i.onreadystatechange = function() {
                4 == i.readyState && n && n.callback && n.callback()
            }
          }
        }
        var e = window.plausible && window.plausible.q || [];
        window.plausible = n;
        for (var i = 0; i < e.length; i++)
          n.apply(this, e[i])
      }();

      document.addEventListener('turbolinks:load', function() {
        plausible('pageview')
      })
    </script>
  </head>

  <body
    class="bg-stone-200 text-slate-800 font-sans antialiased h-full flex flex-col"
    data-controller="application"
  >
    <div class="flex-grow flex-shrink-0 flex-auto">
      <header class="bg-white py-4 text-center">
        <div class="max-w-4xl mx-auto lg:flex lg:justify-between lg:items-center" data-controller="nav" data-nav-active="bg-green-700 text-white px-1 mx-1" data-nav-remove="text-red-900">
          <div class="w-48 lg:w-24 mx-auto lg:mx-0">
            <a href="/">
              <img class="" src="/images/logo.svg" alt="Preson-Werner Ventures Logo" />
              <h1 class="hidden">Preston-Werner Ventures</h1>
            </a>
          </div>
          <a href="#" class="lg:hidden" data-action="nav#toggle">
            <i class="icon icon-2xl absolute mt-3 mr-4 top-0 right-0">menu</i>
          </a>
          <ul
            class="hidden lg:flex justify-between max-w-lg lg:max-w-none mx-auto lg:mx-0 lg:mx-n mt-6 lg:mt-0 -mb-6 lg:mb-0 px-6 lg:px-0 py-4 lg:py-0 lg:font-semibold text-lg lg:text-base text-slate-700 border-t border-b lg:border-t-0 lg:border-b-0 list-none"
            data-target="nav.menu"
          >
            <li>
              <a
                href="/projects/all.html#category=Angel%20Investments"
                class="px-2 py-1 lg:px-4 lg:py-2 rounded lg:hover:bg-green-700 lg:hover:text-white"
                >Angel Investments</a
              >
            </li>
            <li class="mt-2 lg:mt-0">
              <a
                href="/team.html"
                class="px-2 py-1 lg:px-4 lg:py-2 rounded lg:hover:bg-green-700 lg:hover:text-white"
                data-target="nav.link"
                >Team</a
              >
            </li>
            <li class="mt-2 lg:mt-0">
              <a
                href="/projects/climate.html"
                class="px-2 py-1 lg:px-4 lg:py-2 rounded lg:hover:bg-green-700 lg:hover:text-white"
                data-target="nav.link"
                data-match="/projects/"
                >What We Fund</a
              >
            </li>
            <li class="mt-2 lg:mt-0">
              <a
                href="/learning/reading.html"
                class="px-2 py-1 lg:px-4 lg:py-2 rounded lg:hover:bg-green-700 lg:hover:text-white"
                data-target="nav.link"
                data-match="/learning"
                >What We're Learning</a
              >
            </li>
            <li class="mt-2 lg:mt-0">
              <a
                href="/blog.html"
                class="px-2 py-1 lg:px-4 lg:py-2 rounded lg:hover:bg-green-700 lg:hover:text-white"
                data-target="nav.link"
                data-match="/blog"
                >Blog</a
              >
            </li>
            <!-- <li class="ml-1">
              <a
                href="/apply.html"
                class="px-2 py-1 lg:px-4 lg:py-2 rounded text-red-900 lg:hover:bg-red-100 lg:hover:text-red-700"
                data-target="nav.link"
                >Apply <span class="hidden lg:inline">for Funding</span></a
              >
            </li> -->
          </ul>
        </div>
      </header>

      @@content("banner")

      <main class="mt-12 lg:mt-16 max-w-4xl mx-6 lg:mx-auto my-2">
        @@content
      </main>
    </div>

    <footer class="bg-white mt-12 py-8 px-4 lg:px-0 text-sm">
      <div class="lg:flex max-w-4xl mx-auto justify-between items-center">
        <div class="text-center lg:text-left">
          <div class="text-green-700 font-semibold">
            &copy;<span data-target="application.year"></span> 128 Collective
          </div>
          <div class="text-slate-400 lg:font-semibold">
            Working on climate change, social justice, and technology.
          </div>
        </div>

        <ul class="flex justify-center items-center mt-6 lg:mt-0">
          <li>
            <a
              href="https://twitter.com/PWVentures"
              class="flex items-center px-4 font-semibold text-slate-400 hover:text-green-700"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="fill-current"
              >
                <path
                  d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"
                />
              </svg>

              <span class="ml-2">Twitter</span>
            </a>
          </li>
          <li>
            <a
              href="https://prestonwernerventures.recruitee.com"
              class="flex items-center px-4 font-semibold text-slate-400 hover:text-green-700"
              >Careers</a
            >
          </li>
          <li>
            <a
              href="https://github.com/preston-werner-ventures"
              class="flex items-center px-4 font-semibold text-slate-400 hover:text-green-700"
            >
              GitHub
            </a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
