<li class="flex items-center mt-1 text-xs text-gray-500 font-normal mr-1 pr-4">
  <span class="block bg-yellow-200 text-orange-700 rounded w-6 text-center cursor-pointer mr-1">${symbol}</span>
  <span class="text-stone-500 font-semibold">${name}</span>
</li>
